{% extends "blog/base.html" %}
{% block title %}IT-NEWS{% endblock %}

{% block content %}
    <h1>IT-NEWS 💻</h1>

    {% for post in posts %}
        <div class="post flex-post">

            <div class="post-text">
                <h2>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>

                <p>{{ post.body|truncatewords:30|linebreaks }}</p>
            </div>

            {% if post.image %}
                <div class="post-image">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
            {% endif %}

        </div>
    {% endfor %}

    {% include "paginator.html" with page=page_obj %}
{% endblock %}